.style_2874519021447038112,
.style_3381972042131632224,
.style_1631063781067374292,
.style_2626870212869601600,
.style_3299106810484807300,
.style_2409861718724930682,
.style_3843846112676640,
.style_3220679217764522832,
.style_752850895634782944{		font-family:Montserrat;		font-size:20px;		color:rgb(85,85,85);}.style_2246863173328310304{		font-family:source-sans-extrabold;		font-size:31px;		color:rgb(126,96,237);}.style_272952171736409328{		font-family:source-sans-extrabold;		font-size:31px;		color:rgb(244,48,81);}.style_1596784712285101056,
.style_2511895823847019419,
.style_78427590691468587,
.style_3138015055455140842,
.style_1207552307899329161,
.style_2145918304314006720{		font-family:Montserrat;		font-size:20px;		color:rgb(255,255,255);}.style_2837293947632205727,
.style_2884584808206548688{		font-family:Source Sans Pro;		font-size:24px;		color:rgb(244,48,81);}.style_1048938633235188332{		font-family:Montserrat;		font-size:33px;		color:rgb(0,0,0);}.style_1522104757702105296,
.style_1758828766426168785,
.style_16276978674345025,
.style_3308383846574556406{		font-family:Montserrat;		font-size:36px;		color:rgb(255,255,255);}.style_1223239290000126479,
.style_2964670114931184,
.style_1658152175217236357,
.style_2898049620231454729,
.style_2254739708929535340,
.style_1599498106356402811,
.style_1219907652964931703,
.style_975379483027513726,
.style_1596533436239604080{		font-family:Source Sans Pro;		font-size:16px;		color:rgb(255,255,255);}.style_2465528453230200336,
.style_2136909545229111982,
.style_2352349002465432257,
.style_1634907627182472302{		font-family:Source Sans Pro;		font-size:28px;		color:rgb(0,0,0);}.style_2858763831067984214,
.style_1817807587311314084,
.style_2229015509714998244,
.style_349472969694755972,
.style_335973638419280602,
.style_371765492848884778,
.style_2632402076785499792,
.style_2335857790409234304,
.style_522906037386480267,
.style_5531860602902884{		font-family:Source Sans Pro;		font-size:16px;		color:rgb(0,0,0);}.style_1669992134339{		font-size:22px;		font-family:Montserrat;		color:rgb(255,255,255);}